<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183589953082-omqgh5jq6dr1akgc7td2dobieosroljg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183589953082-omqgh5jq6dr1akgc7td2dobieosroljg</string>
	<key>API_KEY</key>
	<string>AIzaSyA8l5ry7gHlNE2SeSDnrnrA3rXOvnFfZQg</string>
	<key>GCM_SENDER_ID</key>
	<string>183589953082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citClub</string>
	<key>PROJECT_ID</key>
	<string>cit-club</string>
	<key>STORAGE_BUCKET</key>
	<string>cit-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183589953082:ios:5b63a8435edd678c6d1f03</string>
</dict>
</plist>